{% extends 'doctor/base.html' %} {% block body %}

<div id="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb" style="background-color: #202020">
      <li class="breadcrumb-item">
        <a href="" class="text-success">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Doctors</li>
    </ol>


    <div class="container">
      <div class="d-flex justify-content-between">
        <h4 class="text-light">Doctors</h4>
        <button
          class="btn btn-success ms-auto"
          data-toggle="modal"
          data-target=".bd-example-modal-lg"
        >
          Add Doctor
        </button>
      </div>
    </div>

    <br>
    <div class="container" style="height: 400px;">
    <div class="table-container">
        <table class="table table-dark text-light" style="background-color: transparent;">
            <thead class="text-success">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Specialization</th>
                    <th scope="col">Degree</th>
                    <th scope="col">Username</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for doctor in doctors %}
                <tr>
                    <td>{{ doctor.id }}</td>
                    <td>{{doctor.Name}}</td>
                    <td>{{doctor.Specification}}</td>
                    <td>{{doctor.Degree}}</td>
                    <td>{{doctor.Username}}</td>
                    <td>
                        <button class="btn btn-primary btn-sm m-2 rounded-circle"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button class="btn btn-danger btn-sm m-2 rounded-circle"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
                
        </table>
    </div>
   </div>



    <div
      class="modal fade bd-example-modal-lg text-light"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myLargeModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div
          class="modal-content"
          style="background-color: #171717; border-radius: 18px"
        >
          <div class="modal-header border-0">
            <h4 class="modal-title text-success" id="exampleModalLongTitle">
              Doctor Profile
            </h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true" style="color: aliceblue">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="" method="POST" class="container p-2">
              {% csrf_token %}
              <div class="row">
                <div class="col">
                  <label for="exampleFormControlInput1">Name</label>
                  <input type="text" name="name" class="form-control" />
                </div>
                <div class="col">
                  <label for="exampleFormControlInput1">Specialization</label>
                  <input type="text" name="spec" class="form-control" />
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col">
                  <label for="exampleFormControlInput1">Username</label>
                  <input type="text" name="username" class="form-control" />
                </div>
                <div class="col">
                  <label for="exampleFormControlInput1">Password</label>
                  <input type="text" name="password" class="form-control" />
                </div>
              </div>
              <br />
              <div>
                <label for="exampleFormControlInput1">Medical Degree(s)</label>
                <input type="text" name="degree" class="form-control" />
              </div>

              <div class="modal-footer border-0">
                <button type="submit" class="btn btn-success">
                  Save changes
                </button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
