{% extends 'patient/base.html' %}

{% block body %}


 <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb" style="background-color: #202020;">
              <li class="breadcrumb-item">
                  <a href="">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">Settings </li>
          </ol>

          <div class="fluid-container">
            <h3>Settings</h3>
            
          </div>
          
        
            

          


              
 </div>
 </div>


{% endblock %}

